@model DoAn.Models.Domain.User;
@{
    ViewData["Title"] = "Thông tin người dùng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home/User/Details</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<br />

<div class="container">
    <h2 style="text-align:center; font-weight:bold">Thông tin cá nhân</h2>
    <hr />
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <dl class="row">
                <dt class="col-sm-2">
                    Họ tên:
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.user.HoTen
                </dd>
                <dt class="col-sm-2">
                    Email:
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.user.Email
                </dd>
                <dt class="col-sm-2">
                    Số điện thoại
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.user.PhoneNumber
                </dd>
                <dt class="col-sm-2">
                    Địa chỉ
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.user.DiaChi
                </dd>

                <a asp-controller="Account" asp-action="EditUser" class="btn btn-primary">Chỉnh sửa thông tin cá nhân</a>
                <a asp-controller="Account" asp-action="ChangePassword" class="btn btn-primary">Đổi mật khẩu</a>
                <a asp-controller="Account" asp-action="ProductFavor" class="btn btn-primary">Sản phẩm yêu thích</a>
            </dl>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <hr />
    <h2 style="text-align:center; font-weight:bold">Lịch sử đặt hàng</h2>
    <div class="container">
        <table class="table-bordered table">
            <tr>
                <td>Mã hóa đơn</td>
                <td>Ngày</td>
                <td>Tổng tiền</td>
                <td>Giao hàng</td>
                <td>Thanh toán</td>
                <td>Trạng thái</td>
            </tr>
            @foreach (var item in ViewBag.hoaDon)
            {
        <tr>
            <th>@item.MaHD</th>
            <th>@item.Ngay</th>
            <th>
                @item.TongTien VNĐ
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hoadon-@item.MaHD">
                    v
                </button>
                <!-- Modal -->
                <div class="modal fade" id="hoadon-@item.MaHD" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết tổng tiền</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Tiền sản phẩm: @item.TamTinh VNĐ</p>
                                <p>VAT: @item.VAT VNĐ</p>
                                @if (item.MaKhuyenMai != null)
                                {
                                    <p>Giảm giá: @(item.KhuyenMai.GiaTri * item.TamTinh / 100)VNĐ</p>
                                }
                                <p>Tổng tiền: @item.TongTien VNĐ</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            
            @*******Tình trạng giao hàng (đã giao - chưa giao - giao thành công)*****@
            @if (item.GiaoHang == 1)
            {
                <th>Chưa giao</th>
            }
            else if (item.GiaoHang == 2)
            {
                <th>Đang giao</th>
            }
            else
            {
                <th>Giao thành công</th>
            }
            @******Thanh toán tiền******@
            @if (item.TinhTrang == true)
            {
                <th>Đã thanh toán</th>
            }
            else
            {
                <th>Chưa thanh toán</th>
            }
            @******Trạng thái đơn hàng (thành công-đã hủy)******@
            @if (item.TrangThai == null)
            {
                <th>Đang chờ</th>
            }
            @if (item.TrangThai == false)
            {
                <th>Đã hủy</th>
            }
            @if (item.TrangThai == true)
            {
                <th>Thành công</th>
            }
            @if (item.TrangThai == null || item.GiaoHang == 1 && item.TrangThai == true)
            {
                <th><a asp-controller="Account" asp-action="CancelPurchase" asp-route-id="@item.MaHD">Hủy</a></th>
            }
        </tr>
            }
        </table>
    </div>
</div>
