@model DoAn.Models.Domain.User;
@{
    ViewData["Title"] = "CheckBill";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Home / checkout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb end-->
<!--================Checkout Area =================-->
<section class="checkout_area section_padding">
    <div class="container">
        <h3>THANH TOÁN</h3>
        <hr />
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-6">

                    <div class="order_box">
                        <h2>THÔNG TIN THANH TOÁN</h2>
                        <ul class="list">
                            <li>
                                <a href="#">HỌ TÊN <span>@ViewBag.user.HoTen</span></a>
                            </li>
                            <li>
                                <a href="#">EMAIL <span>@ViewBag.user.Email</span></a>
                            </li>
                            <li>
                                <a href="#">SĐT <span>@ViewBag.user.PhoneNumber</span></a>
                            </li>
                            <li>
                                <a href="#">ĐỊA CHỈ <span>@ViewBag.user.DiaChi</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="order_box">
                        <h3>MÃ COUPON</h3>
                        <form class="row contact_form" asp-action=@ViewBag.action asp-controller="Cart">
                            <div class="col-md-6 form-group ">
                                <input type="text" class="form-control" name="maKhuyenmai" id="maKhuyenMai" placeholder="Mã Khuyến Mãi" />
                                <p id="couponNotification"></p>
                            </div>
                            <div class="col-md-6 form-group">
                                <a href="#" class="btn btn-light" id="btn-maKhuyenMai">Áp dụng mã</a>
                                <a href="#" class="btn btn-danger" id="btn-huyMaKhuyenMai" style="display:none">Hủy</a>
                            </div>

                            <button type="submit" class="btn_3">ĐẶT MUA</button>
                        </form>
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <div class="order_box">
                        <h2>NỘI DUNG GIỎ HÀNG</h2>
                        <ul class="list">
                            <li>
                                <a href="#">
                                    Sản phẩm
                                    <span>Giá</span>
                                </a>
                            </li>
                            @foreach (var item in ViewBag.cart)
                            {
                                <li>
                                    <a href="#">
                                        @item.SanPham.TenSp
                                        <span class="middle">x @item.SoLuong</span>
                                        <span class="last">@item.SanPham.Gia đ</span>
                                    </a>
                                </li>
                            }
                        </ul>
                        @foreach (var item in ViewBag.cart)
                        {
                            <ul class="list list_2">
                                <li>
                                    <a href="#">
                                        Tạm tính
                                        <span>@(item.SanPham.Gia * item.SoLuong) đ</span>
                                    </a>
                                    @if (item.SanPham.GiamGia != 0)
                                    {
                                        <a href="#" class="product-sale">
                                            @*Chinh css cho class nay*@
                                            Giảm giá
                                            <span class="last">@item.SanPham.GiamGia đ</span>
                                        </a>
                                    }
                                </li>
                            </ul>
                        }
                        <ul class="list list_2">
                            <li>
                                <a href="#">
                                    VAT
                                    <span>@ViewBag.vat đ</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list list_2" id="detailCoupon" style="display:none">
                            <li>
                                <a href="#">
                                    Mã giảm giá
                                    <span><label id="coupon">0</label> đ</span>
                                    <input type="number" id="oldCoupon" value="0" hidden />
                                </a>
                            </li>
                        </ul>

                        <ul class="list list_2">
                            <li>
                                <a href="#">
                                    Tổng đơn
                                    @*<span>@ViewBag.total đ</span>*@
                                    <span><label id="total">@ViewBag.total</label> đ</span>
                                    <input type="number" id="oldTotal" value=@ViewBag.total hidden />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
