
@{ ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }



<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách sản phẩm</h1>
</div>
<a asp-controller="Product" asp-action="Add" class="btn btn-primary">Thêm Sản Phẩm</a>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
            <thead>
                <tr style="text-align:center">
                    <th>ID</th>
                    <th>Hình Ảnh</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Giá Tiền</th>
                    <th>Loại truyện</th>
                    <th>Số lượng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <th>@item.MaSp</th>
        <th><img src="~/images/@item.HinhAnh" style="width:150px;height:100px" /></th>
        <th>@item.TenSp</th>
        <th>@item.Gia</th>
        <th>@item.LoaiSp.TenLoaiSp</th>
        <th>@item.SoLuong</th>
        <th style="text-align:center">
            <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.MaSp" class="btn btn-outline-danger">Xoá</a>
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.MaSp" class="btn btn-outline-warning">Sửa</a>
        </th>
    </tr>}

            </tbody>
        </table>
        @*<div style="text-align:center">
                @for (int i = 0; i < ViewBag.count; i++)
                {
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@i" class="btn btn-outline-primary">@i</a>
                }
            </div>*@

    </div>
</div>
