
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Doanh thu</h1>
</div>
<div class="tab">
    <form asp-action="Index" asp-controller="Revenue">
        Từ
        <input type="date" name="ngayBatDau" value="@ViewBag.ngayBatDau" />
        Đến
        <input type="date" name="ngayKetThuc" value="@ViewBag.ngayKetThuc" />
        <select name="option">
            <option value="1">Tất cả đơn hàng</option>
            <option value="2">Đơn hàng đã thanh toán</option>
            <option value="3">Đơn hàng thanh toán khi nhận</option>
            <option value="4">Đơn hàng thanh toán trực tuyến</option>
        </select>
        <input type="submit" value="Lọc" />
    </form>
</div>
<div>
    <label>@ViewBag.m</label>
    <label>Tổng doanh thu: @ViewBag.tongDoanhThu VNĐ</label>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
            <thead>
                <tr>
                    <th>Mã hóa đơn</th>
                    <th>Họ và tên</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Tổng tiền</th>
                    <th>Loại thanh toán</th>
                    <th>Thanh Toán</th>
                    <th>Trạng thái</th>
                    <th>Giao hàng</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="waitHoaDon">
                @*Danh sách hóa đơn đang đợi*@
                @foreach (var item in ViewBag.hoaDon)
                {
                    <tr>
                        <td>@item.MaHD</td>
                        <td>@item.HoTen</td>
                        <td>@item.SDT</td>
                        <td>@item.DiaChi</td>
                        <td>@item.TongTien</td>

                        @if (item.LoaiTT == 2)
                        {
                            <td>Paypal</td>
                        }
                        else
                        {
                            <td>Khi nhận hàng</td>
                        }
                        @if (item.TinhTrang == true)
                        {
                            <td>Đã thanh toán</td>
                        }
                        else
                        {
                            <td>Chưa thanh toán</td>
                        }
                        @if (item.TrangThai == null)
                        {
                            <td>Đang chờ</td>
                        }
                        @if (item.TrangThai == false)
                        {
                            <td>Đã hủy</td>
                        }
                        @if (item.TrangThai == true)
                        {
                            <td>Thành công</td>
                        }
                        @if (item.GiaoHang == 1)
                        {
                            <td>Chưa giao hàng</td>
                        }
                        else if (item.GiaoHang == 2)
                        {
                            <td>Đang giao hàng</td>
                        }
                        else if (item.GiaoHang == 3)
                        {
                            <td>Đã giao thành công</td>
                        }
                        else
                        {
                            <td>Giao hàng không thành công</td>
                        }
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
